* {
  box-sizing: border-box;
}
.ButtonList::-webkit-scrollbar {
  display: none;
}
.ButtonList {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 50;
  background-color: white;
}
.suggestion {
  position: fixed;
  z-index: 100;
}
.watchpage::-webkit-scrollbar {
  display: none;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}

