* {
  box-sizing: border-box;
}
.ButtonList::-webkit-scrollbar {
  display: none;
}
.ButtonList {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 50;
  background-color: white;
}
.suggestion {
  position: fixed;
  z-index: 100;
}
.watchpage::-webkit-scrollbar {
  display: none;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}

@media screen and (min-width: 360px) and (max-width: 700px) {
  .video-info {
    width: 100%;
  }
  .video {
    width: screen;
    flex-direction: column;
  }
  .ButtonList {
    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .ButtonList {
    padding-left: 10px;
  }
  .maincontainer {
    width: screen;
  }
  .image {
    width: 100%;
  }
}
